.register-course .wrap label,
.profile .tab .tab-content .tab1 label {
    flex-wrap: wrap;
}
.error_text {
    color: red;
    width: 100% !important;
    padding-left: 180px;
    font-style: italic;
}
// .nav ul li.active {
//     background: initial;
//     a.active {
//         background: #00afab;
//         color: white;
//     }
// }
.popup-form {
}
