.error_text {
    color: #ff6f61;
    width: 100% !important;
    text-align: right;
    font-style: italic;
}
.fa-star:before {
    color: yellow;
}
.card-badge-left {
    font-size: 14px;
    background: #ff6f61;
    color: white;
}
.link-underline,
.link-underline:hover,
.list-styled-link.active,
.list-styled-link:focus,
.list-styled-link:hover {
    color: #ff6f61 !important;
    font-weight: 500 !important;
}
.btn-price {
    margin-top: 10px;
    width: 50% !important;
}
